<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information Technology communication</title>
   
</head>
<body>

    <header>
        <div class="container">
            <h1>ITC</h1>
            <nav>
                <ul>
                    <li><a href="/#home" style="color: white;">Home</a></li>
                    <li><a href="/#about" style="color: white;">About</a></li>
                    <li><a href="#courses" style="color: white;">Courses</a></li>
                    <li><a href="#contact" style="color: white;">Contact</a></li>
                </ul>
            </nav>
        </div>

    </header>

    <div class="divs"><b>OUR COURSES </b></div>

    <main>
        <section id="courses">

            <div class="course" id="course1">
                <img src="/pynotom.jpeg" alt="Course 1 Image" class="image1">
                <div class="course-details">
                    <h3>Introduction to Programming</h3>
                    <p>Learn the basics of programming using Python. This course covers fundamentals like variables, loops, and functions.</p>
                    <p class="price">$99</p>
                </div>

            </div>
            <div class="course" id="course2">
                <img src="/webdevelop.jpeg" alt="Course 2 Image" class="image2">
                <div class="course-details">
                    <h3>Web Development</h3>
                    <p>Master the art of building dynamic websites using HTML, CSS, and JavaScript.</p>
                    <p class="price">$149</p>
                </div>
            </div>

            <div class="course" id="course3">
                <img src="/Data Structures and Algorithms.jpg" alt="Course 3 Image" class="image2">
                <div class="course-details">
                    <h3>Data Structures and Algorithms</h3>
                    <p>Understand the core concepts of data structures and algorithms to improve your problem-solving skills.</p>
                    <p class="price">$199</p>
                </div>
            </div>
            <div class="course" id="course4">
                <img src="/excel.jpg" alt="Course 4 Image" class="image2">
                <div class="course-details">
                    <h3>introduction of Excel </h3>
                    <p>Understand the core concepts of introduction of Excel to improve your skills You work best.</p>
                    <p class="price">$10</p>
                </div>
            </div>
        </section>
    </main>


    <main>
        <section id="courses">

            <div class="course" id="course5">
                <img src="/Java.jpeg" alt="Course 5 Image" class="image2">
                <div class="course-details">
                    <h3>Introduction to JAVA </h3>
                    <p>Learn the basics of programming using JAVA. This course covers fundamentals like variables, loops, and functions and Helpful for making application.</p>
                    <p class="price">$210</p>
                </div>
            </div>

            <div class="course" id="course6">
                <img src="/SEO.jpeg" alt="Course 6 Image" class="image2">
                <div class="course-details">
                    <h3>Introduction of SEO</h3>
                    <p>Basic learn of serach engine optimization it is helpful of growth you website </p>
                    <p class="price">$120</p>
                </div>
            </div>

            <div class="course" id="course7">
                <img src="/Graphic design and Video eiditing.jpeg" alt="Course 7 Image" class="image2">
                <div class="course-details">
                    <h3>Graphic design and Video editing</h3>
                    <p>Ready to elevate your brand with exceptional graphic design and video editing services? Get in touch with us to discuss your project and discover how we can bring your vision to life.</p>
                    <p class="price">$299</p>
                </div>
            </div>
            
            <div class="course" id="course8">
                <img src="/window 10 logo.jpeg" alt="Course 8 Image" class="image2">
                <div class="course-details">
                    <h3>Window 10 Pro </h3>
                    <p>You Can Buy the window 10 pro this is use for professional</p>
                    <p class="price">$10</p>
                </div>
            </div>
        </section>
    </main>
    


    <div class=" try">

        
        <div class="sad">
            <h4>Contact us</h4>
            <br />
            <p>Kurpur Road Muhalla Haji abad ,Airpot Road</p>
            
            <p>alih51808@mail.com</p>
           
            <p>03304093141</p>
            

        </div>
        <div class="sad">
             <h4>Customer Support</h4>
             <br />
             <p>Track Locater</p>
             <p>lecture policy</p>
            
        </div>
        <div class="sad">
           <h4>Help</h4>
           <br />
           <p>Term Condition</p>
           <p>privacy policy</p>
        </div>
    </div>


    <footer>
        <div class="dail">
            <p style="color:black;">&Copy; 2024 ITC.All rights reserved</p>
        </div>
    </footer>
</body>
</html>
